@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: #3767ad;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.header{
	position:absolute;
	align-items:center;
	top:87px;
	font-family:'Roboto';
	font-style:normal;
}
.counter--js{
	position:absolute;
	align-items:center;
	font-family:'Roboto';
	font-style:normal;

}
.add{
	align-items:center;
	font-family:'Roboto';
	font-style:normal;
	justify-content:center;
	position:absolute;
	font-size:18px;
	top:531px;
	width:216px;
	height:47px;
	background:#fff;
	box-shadow:0px 4px 4px rgba(0,0,0,0.25);

}

.substract{
	align-items:center;
	font-family:'Roboto';
	font-style:normal;
	position:absolute;
	top:615px;
	font-size:16px;
	width:184px;
	height:23px;

}
.counter--js{
	font-size:112px;
	color:#000;

}
